.list-item-component-text {
  padding-left: 10px;
}

.list-item-component-icon {
  padding-left: 10px;
}

.list-item-component {
  background-color: #FFF !important;
}

.list-item-component-secondary-options {
  margin-left: -5px;
}
