@font-face {
  font-family: 'DINOT';
  src: url("fonts/DINOT-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: 'DINOT';
  src: url("fonts/DINOT-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: 'DINOT';
  src: url("fonts/DINOT-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: 'DINOT';
  src: url("fonts/DINOT-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: 'DINOT';
  src: url("fonts/DINOT-Light.otf");
  font-weight: 300;
}

