.black {
  color: $black !important;
}
.black-bg {
  background-color: $black !important;
}
.black-dark {
  color: $black-dark !important;
}
.black-dark-bg {
  background-color: $black-dark !important;
}
.black-darker {
  color: $black-darker !important;
}
.black-darker-bg {
  background-color: $black-darker !important;
}

.blue {
  color: $blue !important;
}
.blue-bg {
  background-color: $blue !important;
}
.blue-light {
  color: $blue-light !important;
}
.blue-light-bg {
  background-color: $blue-light !important;
}
.blue-bright {
  color: $blue-bright !important;
}
.blue-bright-bg {
  background-color: $blue-bright !important;
}

.gold {
  color: $gold !important;
}
.gold-bg {
  background-color: $gold !important;
}
.gold-light {
  color: $gold-light !important;
}
.gold-light-bg {
  background-color: $gold-light !important;
}

.gold-gradient {
  background: linear-gradient(to bottom, $gold 0%, $gold 50%, $gold-light 100%) !important;
}

.green {
  color: $green !important;
}
.green-bg {
  background-color: $green !important;
}

.gray {
  color: $gray !important;
}
.gray-bg {
  background-color: $gray !important;
}

.red {
  color: $red !important;
}
.red-bg {
  background-color: $red !important;
}

.white {
  color: $white !important;
}
.white-bg {
  background-color: $white !important;
}

.yellow {
  color: $yellow !important;
}
.yellow-bg {
  background-color: $yellow !important;
}
