$black:        #424242; /* primary color */
$black-dark:   #2B313F; /* primary color */
$black-darker: #101420; /* primary color */
$blue:         #001342; /* secondary color */
$blue-light:   #BFCCDD; /* secondary color */
$blue-bright:  #1751C6; /* Informational */
$gold:         #FFB91D; /* primary color */
$gold-light:   #FFCD40; /* primary color */
$green:        #0AC410; /* Ok, Confirmed */
$gray:         #F1F5F8; /* secondary color */
$red:          #D11515; /* Error, Alert */
$white:        #FFFFFF; /* secondary color */
$yellow:       #ECC800; /* Caution */
