<!--
This is the basic skeleton for the app. If you want to add a footer to all pages,
that would be done in this file
-->

<div layout="column" layout-fill ng-class="{'login': vm.isLogin}">
<header ng-if="vm.authenticated"></header>
<section layout="row" ng-style="{'margin-top': vm.marginTop, 'height': (vm.isMap || vm.isLogin) ? '100%' : ''}">
  <navbar layout ng-if="vm.authenticated" flex-gt-md="10"></navbar>
  <md-content
    class="container"
    ui-view
    layout="column"
    noanimation="true"
    layout-fill
    flex
    flex-gt-md="{{ vm.isMap ? 100 : 80 }}"
    flex-offset-gt-md="{{ vm.offsetGtMd }}">
  </md-content>
</section>
</div>
